<?xml version="1.0" encoding="UTF-8" ?>
<suite name="Suite" parallel="false">
    <listeners>
        <listener class-name="Listener.TestListener"/>
    </listeners>
    <test name="ANDROID BACH">
        <parameter name="platformName" value="Android" />
        <parameter name="udid" value="R58MB0T56ZA" />
        <parameter name="deviceName" value="Any device name" />
        <parameter name="systemPort" value="10000" />
        <parameter name="chromeDriverPort" value="11000" />
        <classes>
            <class name="Tests.LoginTests"/>
        </classes>
    </test>
<!--    <test name="iPhonexs">-->
<!--        <listeners>-->
<!--            <listener class-name="Listener.TestListener" />-->
<!--        </listeners>-->
<!--        <parameter name="platformName" value="iOS" />-->
<!--        <parameter name="udid" value="d49d0add0cc8f3105fd2d50b0a9806ac487ade89" />-->
<!--        <parameter name="deviceName" value="iPhone 6s" />-->
<!--        <parameter name="wdaLocalPort" value="10002" />-->
<!--        <parameter name="webkitDebugProxyPort" value="11002" />-->
<!--        <classes>-->

<!--            <class name="Tests.LoginTests"/>-->
<!--        </classes>-->
<!--    </test>-->

</suite>